*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-width: 100%;
    min-height: 100vh;
    font-family: Georgia, 'Times New Roman', Times, serif ;
    margin: 0;
    background: #f5f6f9;
    display: flex;
    flex-direction: column;
    
    
}
header{
    position: relative;
    background-color: #fff;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
   padding: 16px;
    margin-top: 0;
    justify-content: space-between;
    box-shadow: 0px 3px 10px 0 rgb(80,119,242,0.3);
    z-index: 1;
    
}
.logo h1{
    font-size: 40px;
    color: rgb(26, 131, 167);
}
.logo h1::first-letter{
    font-size: 45px;
    color: red;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

nav ul {
    display: flex;
    list-style-type: none;
    gap: 15px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 600;

    cursor: pointer;
}
nav ul li a{
    text-decoration: none;
    color: #000;
}
nav ul li a:hover{
    color: rgb(26, 131, 167);

}
nav ul li a::after{
    color: #000;
}

.inputSearh{
   display: block;
   border: 1px solid red;

}


.inputSearch input[type=text]{
    padding: 10px;
    font-size: 17px;
    float: left;
    width: 80%;
    border: none;
}

.inputSearch button {
    width: 20%;
    padding: 10px;
    font-size: 16px;
    border: none; 
    float: right;
    cursor: pointer;
    border: 1px #888;
    border-left:none ;
    
}
.inputSearch .search-bar .input[type=text]::after{
    content: "";
    clear: both;
    display: table;
    border: 1px green;
}
.ham-btn{
    margin-right: 0;
    width: 20px;
    height: 15px;
    font-size: 20px;
    color: black;
    cursor: pointer;
}
/*banner*/
h4{
    text-align: center;
    font-weight: 200;
    color: #878787;
}
.banner{
    overflow: hidden;
    min-height: auto;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    margin-top: 0;
}

.slide-container{
    position: relative;
    display: flex;
     width: 450px;
     height: 300px;
     border: 1px solid #ede6d6;
     margin-top: 10px;
    /* box-shadow: 0 0 8px 2px rgba(0,0,0,0.2);*/
     
 }
 
 .slide-container .slides{
    width: 100%;
     height: calc(100% - 30px);
     position: relative;
     align-items: center;
     overflow: hidden;
     background-color: gainsboro;   

 }
.slide-container .slides img {
     width: 100%;
     height: 100%;
     position: absolute;
     object-fit: cover;
     align-items: center;
     overflow: hidden;
     
        
 }
 

 .slide-container .slides img:not(.active){
     top: 0;
     left: -100%;
     
 }
  span.next, span.prev{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px;
    color: #878787;
    font-size: 20px;
    font-weight: bold;
    transition: 0.5s;
    border-radius: 3px;
    user-select: none;
    cursor: pointer;
    z-index: 1;
}
span.next{
    right: 8px;
}
span.prev{
    left: 1px;
}
span.next:hover, span.prev:hover{
    background-color: #a8a8a8;
    opacity: 0.4;
}


 @keyframes next1{
    from{
        left: 0%;
    }
    to{
        left: -100%;
    }
}
 @keyframes next2{
    from{
        left:100%;
    }
    to{
        left: 0%;
    }
}
 @keyframes prev1{
    from{
        left: 0%;
    }
    to{
        left: 100%;
    }
}
 @keyframes prev2{
    from{
        left: -100%;
    }
    to{
        left: 0%;
    }
}



.banner-main-content{
  min-width: 100%;
  height: auto;
    margin: 0;
}

.banner-main-content{
    overflow: hidden;
    padding: 0 0.5rem;
    line-height: 1.7rem;
    position: relative;

    
}
.banner-main-content h2{
    overflow: hidden;
    font-size: 2rem;
    font-family: var(--heading);

}
.banner-main-content h2{
    padding: 2rem 0;
    
}
.banner-main-content p{
    color: green;
    display: none;
}
.banner-main-content button{
    border: none;
    background: #252525;
    padding: 14px 18px;
    font-size: 1.2rem;
    font-family: 'Montserat',sans-serif;
    transition: background 1s ease;
}
.banner-main-content a{
    color: #ffffff;
    text-decoration: none;
}
.banner-main-content button:hover{
    background: #fff;
}
.banner-main-content button:hover a{
    color: #0d0a0b;
}
.banner-sub-content{
    min-width: 100%;
     position: relative;
    height: auto;
    

}
 
.banner-sub-content img{
     width: 150px;
     height: 150px;
     display: block;
     align-items: center;
     margin-top: 0;  
    
}
.banner-sub-content h3{
    padding-top: 10px;
    color: red;
    padding: 10px;

}

.current-news-head{
    height: auto;
    background: rgb(220, 1, 1);
    padding: 10px;
    font-size: 12px;
    margin: 5px 0;    
}
.current-news-head:hover{
    background-color: #000;
}
.current-news-head h2{
    color: orange;
    font-size:14px;
    padding: 0;

}
.current-news-head h3 a{
    cursor: pointer;
    position: relative;
    color: white;
}
.current-news-head h3 a:hover{
    color: white;
}
.current-news-head h3:hover:before{
   content: ">>";
   position: absolute;
   left: -12px;
}
.current-news-head span{
    display: block;
    font-family: var(--heading);
    text-transform: uppercase;
    font-size: 10px;
}
.hot-topic{
    overflow: hidden;
    position: relative;
    width: 100%;
    padding: 12px;
    height: 300px;
}
.hot-topic img{
    display: block;
}
.hot-topic-content{
    overflow: hidden;
   position: absolute;
    bottom: 0;
    
    right: 20px;
    padding: 10px 20px;
    line-height: 1.3;
    
    
}
.hot-topic h2{
    padding: 1px 0;
    font-size: 18px;
    
}
.hot-topic h3{
    padding: 10px 0;
    font-size: 16px;
    
}
.hot-topic p{
    padding-left: 5px;
    font-size: 15px;
    
}
.hot-topic-content a{
    display: block;
    background: #f3f3f3;
    color: green;
    border: none;
    width: 95px;
    border-radius: 2px;
    text-align: center;
    padding: 7px 10px;
    font-size: 14px;
    margin: 10px 0 10px 10px;
    text-decoration: none;
}
.hot-topic-content a:hover {
    text-decoration: none;
    background-color: green;
    color: white;

}
.hot-topic:hover{
    background-color: #c8c8c8;
}
/*main*/
main a{
    padding: 15px 0;
    display: block;
    transition: all 0.5s;
}
main span{
    transition: padding-left 0.5s;
}
main a:hover span{
    padding-left: 5px;
}
main a:hover{
    color:  #50a11d;
}
/*main container*/
.main-container-left{
    padding: 10px 0;
    margin-left: 0;
}
.main-container-left iframe{
    max-width: 100%;
    
} 
.main-container-left > h2{
    padding: 15px 0 15px 30px;
}
.main-container-left h3{
    padding: 10px 0;
    font-size: 18px;
    font-family: var(--heading);
}
.main-container-left p{
    font-size: 15px;
    font-weight: 300;
}
.main-container-left
article{
    
    padding: 10px;
}
.container-top-left{
    padding: 8px 14px;
}
.container-top-left a{
    text-decoration: none;
    color: darkblue;
}
.container-bottom-left{
    background: #f3f3f3;
    
    max-width: 100%;
}

.container-bottom-left a{
    text-decoration: none;
    color: #7ac64a;
}
.container-bottom-left article {
    min-width: 100%;

}
.container-bottom-left img{
    width: 100%;
    height: 250px;
}

/*main container right*/
.main-container-right{
    padding: 10px 5px;
    background-color: rgb(250, 248, 242);
    
    
}

.main-container-right > h2{
    padding: 15px 0 15px 10px;
}
.main-container-right
article{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    padding: 15px ;
    border-bottom: 1px solid #7ac64a;
}
.main-container-right
article:last-child{
    border-bottom: none;
}
.main-container-right img{
    width: 100px;
    height: auto;
    align-self:center;
    font-family: var(--heading);
}
.main-container-right h4{
    text-align: left;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 12px;
    align-self: center;
    padding-right: 0;
    margin-right: 0;
    
}
.main-container-right article h2{
    font-size: 18PX;
    padding: 10px 0;
    font-family: var(--heading);
}
.main-container-right
article p{
    font-size: 15px;
    font-weight: 300;
    
}
.main-container-right
article div{
    margin-right: 0;
}
.main-container-right a{
    text-decoration: none;
    color: red;
}

.main-container-right h3{
    font-size: 18px;
    padding: 10px 0;
    margin-left: 40%;

}
.main-container-right p{
    padding-top: 10px;
}

.main-container-right iframe{
     width: 100%;
    
     
}
.Leisure{
    width: 90%;
    height: 60px;
    background-color: blue;
    font-size: 18px;
    text-decoration: none;
    margin-left: 10px;
    text-align: center;

    
}
.Leisure a {
    text-decoration: none;
    color: white;
    
}

@media(max-width:1080px){
    .banner-sub-content{
       padding-top: 0;
        margin-top: 0;
    }
    
    .container-bottom-left {
        min-width: 100%;
    
    }
    .container-bottom-left img{
        width: 100%;
    }
    .main-container-right p{
        margin-left: 1px;
    }
    .slide-container{
        width: 600px;
    }

}
@media(max-width:1080px){

    .container{
        width: 100%;
        height: auto;
    }

    .slide-container{
        margin-left: 10%;
    }
    
}
    @media(max-width:780px){
     .container{
        min-width: 100%;
     }
    
        .slide-container{
            width: min(30rem, 100%);
            margin-left: 0;
        }
        
    }



    


@media(min-width:768px){
    
    .banner-sub-content{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        text-align: center;   
        
    }
    
    .container-bottom-left{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        min-width: 100%;
    }
    .container-bottom-left img{
        min-width: 100%;

    }
    
    
}
@media(min-width:992px){
    main{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    

}
@media(min-width:1080px){
    .banner{
        grid-template-columns: 1fr 2fr;
    }
    .banner-main-content{
        height: 100vh;
    }
    
    .menuBtn{
        display: none;
    }
    .inputSearch{
        display: flex;
    }    
}


.social-icons{
    flex: 0 1 30%;
    display: grid;
    margin: 0 auto;
}
.social-icons .fab{
    color: #fff;
    color: 2rem;
}
.social-icons ul{
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}
.social-icons ul li{
    padding: 20px;
}
/****footer***/
:root{
    --primary-color: #baaB9B;
}
footer{
    background: linear-gradient(white,black);
    overflow: hidden;
    color: black;
    display: flex;
    flex-direction: column;
    
}
/*footer default style*/
footer a{
    text-decoration: none;
    color: black;
    
}

footer h2{
    
   color: black;
    margin-bottom: 2rem;
    cursor: pointer;    
}
footer p{
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    color: black;
}
footer p a:hover{
    color: white;

}
/*footer content*/
.footer_content{
    padding: 2rem;
}
.footer_content .container{
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
/*contact*/

.footer_content .logo{
    margin-bottom: 2rem;
    color: black;
    font-size: 20px;
    font-weight: bold;
    line-height: 1;
}
.footer_content .logo:first-letter{
    
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.footer_content .contact .icon{
    font-size: 24px;
    margin-right: 5px;
}
.footer_content .social_media_links{
    margin-top: 2rem;
}
.footer_content .social_media_links .icon{
    font-size: 28px;
    color: #fff;
    margin-right: 1rem;
    background-color: blue;
    margin-bottom: 2rem;
    justify-items: right;
    
    

}
/*info*/
.footer_content .info{
    margin-left: 3rem;
}
/*newsletter*/
.footer_content .newsletter form{
    border: none;
    padding: 1px;
    border-radius: 50px;
    display: flex;
    width: 100%;
    max-width: 500px;
    font-size: 14px;
}

.footer_content .newsletter input{
    flex: 1 1;
    background-color: white;
    outline: none;
    border: none;
    padding: 0 10px;
    color: inherit;
    min-height: 50px;
}
.footer_content .newsletter button{
    
    width: 80%;
    padding: 0 18px;
    min-height: 46px;
    font-weight: bold;
    transition: 0.2s ease;
    background: rgb(26, 131, 167);
    color: #f1f1f1f1;
}
.footer_content .newsletter button:hover{
    cursor: pointer;
    background-color: red;
    color:  black;
}
/*footer copyright*/
.footer_copyright{
    width: auto;
    margin-top: 2rem;
    padding: 1rem;
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

@media(max-width:991px){
   .footer_content .container{
        grid-template-columns: repeat(2, 1fr);
        
    }
    .footer_content .newsletter{
        margin-top: 3rem;
        grid-column-start: 1;
        grid-column-end: 3;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .menuBtn{
        display: none;
    }
    .inputSearch{
        display: none;
    }
    

}
@media(max-width:800px){
    .desktop{
        display: none;
    }
    .menuBtn{
        display: block;
        margin-right: 5px;
    }
    
   .mobile-hidden{
        display: block;
    }
    
    
    
}


@media (max-width:767px){
    
    .footer_content .container{
        grid-template-columns: 1fr;
    }
    .footer_content .col{
        margin: 2rem 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .footer_content .newsletter{
        grid-row-start: 1;
        grid-column-end: 1;
        text-align: center;
    }



}



@media all and (max-width:700px){


    header{
        padding: 5px 30px;
    }
    .inputSearch{
        display: none;
    }
    .container-bottom-left img{
        min-width: 100%;
    }   
}
@media(max-width:460px){
    .container-bottom-left {
        width: 100%;
        
    }
    .logo h1{
        font-size: 35px;
    }
    .menuBtn{
        padding-right: 2px;
    }
    
}
/*mobile menu*/
.mobile{
    
    position: absolute;
    top: 6.4rem;
    width: 100%;
    max-width: 450px;
    background-color: lightblue;
    height: calc(80% - 200px);

}

.mobile nav ul{
    flex-direction: column;
    background-color: #fff;
    color: rgb(5, 5, 5);
    font-weight: 700;
    left: 4rem;
    overflow: hidden;
    align-items: left;
    padding: 2rem;
    
    line-height: 2rem;
    border: 1px transparent;
    box-shadow: 0px 4px 8px 0 #8888 ;
}
.mobile .hidden .open{
    height: 300px;
}
.mobile .hidden ul li a{
    color: #000;
    
}
.mobile nav ul li {
    width: 100%;
    

}

 .mobile ul li a:hover{
    width: 100%;
    background: blue;
    color: white;
    text-align: left;
    
}

.mobile .inputSearch{
    height: 35px;
    width: 300px;
}
.hidden{
    display: none;
}




