*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: auto;
    background-color: rgb(249, 250, 251);
    
}  

header{
    position: relative;
    background-color: #fff;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    padding: 30px;
    margin-top: 0;
    justify-content: space-between;
    box-shadow: 0px 3px 10px 0 rgb(80,119,242,0.3);
    z-index: 1;
    
}

.logo a{
    text-decoration: none;
    margin: 5px 10px;
    

}
.logo h2{
    font-size: 38px;
    color: rgb(26, 131, 167);
}
.logo h2::first-letter{
    font-size: 43px;
    color: red;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.logo h3{
    font-size: 35px;
    font-family: 'sofia';
    color: #04AA6D;
}

.navbar ul {
    display: flex;
    list-style-type: none;
    gap: 15px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
    margin-left: 5rem;
} 

.navbar ul li a{
    border-right: 1px solid #bbb;
    text-decoration: none;
    color: #000;
    padding: 5px;
}
.navbar ul li a:hover{
    color: rgb(9, 87, 113);
}
.navbar ul li a:active{
    background-color: rgb(26, 131, 167);
    color: #fff;
}

    /*mobile menu*/
.dropdown_menu {
    display: hidden;
    position: absolute;
    right: 0;
    top: 100px;
    width: 100%;
    height: 0;
    overflow: hidden;
    background-color: #fff;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);     
}
.dropdown_menu li a{
    padding-top: 4rem;
    padding: 0.4rem;
    display: flex;
    align-items: left;
    justify-content:left ;
    text-decoration: none;
    margin-top: 20px;
    width: 100%;
}
.dropdown_menu.open {
    height: 100vh;
}
.dropdown_menu.open li a{
    font-weight: 400;
    color: #000;
    margin-top: 10px;
}
.dropdown_menu li{
    padding: 0.1rem;
    display: flex;
    align-items: left;
    justify-content:left ;
    text-decoration: none;
}
.dropdown_menu li a:hover{
    background-color: rgb(26, 131, 167);
    color: #fff;
}
.mobile .inputSearch{
    height: 35px;
    width: 300px;
}
.dropdown_menu h3{
    text-align: center;
    background-color: rgb(26, 131, 167);
    color: #fff;
    padding: 0.7rem;
}


.toggle_btn{
   display: none;
   color: black;
   font-size: 1.8rem;
   margin-right: 10px;
   cursor: pointer;
   
}
.scrollmenu{
   position: absolute;
   position: sticky ;
   top: 0;
   background-color: #fff;
   overflow-x: auto;
   white-space: nowrap;
   width:100% ;
   z-index: 1;
   display: none;

   
}
.scrollmenu a{
   display: inline-block;
   text-align: center;
   padding: 0 4px;
   text-decoration: none;
   color: #0d0a0b;
   font-size: 15px;
}
.scrollmenu a:hover{
   background-color: gainsboro;
} 

.heading{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 20px auto;
}
.previous{
    padding-left: 0;
    margin-left: 0;
    text-decoration: none;
    justify-content: left;
    text-align: left;
    font-size: 30px;
    font-weight: 600;
    color: #000;
    text-align: left;
    align-items: left;
} 

.heading h1{
    font-size: 40px;
    color: #000;
    margin-bottom: 25px;
    position: relative;
}
.heading h1::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    display: block;
    margin: 0 auto;

}
.heading h3{
    text-align: left;
    color: #000;
    list-style: armenian;
    margin-bottom: 20px;
    

}
.heading p{
    font-size: 18px;
    color: rgb(32, 31, 31);
    margin-bottom: 35px;
    line-height: 1.5;
    justify-content: center;
    text-align: left;
}
p span{
    color: tomato;
}
.container{
    width: 80%;
    height: auto;
    margin: 0 auto;
    background-color: lightblue;
    
    
}
.about{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 0;
    
}
.about-image{
    flex: 1;
    margin: 1px 0;
    overflow: hidden;
    place-items: center;
    width: 350px;
    height: 400px;

}
.about-image h2{
    font-size: 28px;
}
.about-image img{
    width: min(35rem, 90%);
    display: block;
    
    place-items: center;
    margin: 20px 0;
}
.content h2{
    text-align: center;
    padding: 10px 3.5px;
}
.content h3{
    text-align: left;
}
.content h3{
    padding: 0;
    margin-left: 20px;
    
}

.content p{
    text-decoration: none;
   margin: 20px;
    color: #281f22;
    line-height: 1.5;
    
}

.about-content{
    flex: 1;
    margin-top: 0;
}
.about-content h2{
    color:  red;
    font-size: 24px;
    padding: 20px 0;
    margin-bottom: 15px;
    color: rgb(60, 59, 59);
}
.about-content p{
    margin-top: 0;
    padding-top: 0;
    font-size: 18px;
    line-height: 1.5;
    margin-left: 0;
}

.about-content p a{
    text-decoration: none;
    color: #4caf50;
}
.about-content .read-more{
    display: inline-block;
    padding: 10px 20px;
    background-color:  #4caf50;
    color: #fff;
    font-size: 19px;
    text-decoration: none;
    border-radius: 25px;
    margin-top: 15px;
    transition: 0.3s ease;
}
.bg-image{
    width: 100%;
}
.bottom-container{
    background-color: gainsboro;
    margin: 50px;
    padding-bottom: 20px;
}
.bottom-container .image{
    align-items: center;
    margin: 40px;

}
.bottom-container h1, h3{
    text-align: center;
    padding: 20px 2px;
}
.bottom-container p{
    margin-left: 20px;
    
    list-style-type: circle;
}
.bottom-container h4{
    text-align: left;
    padding: 20px 2px;
    margin-left: 20px;
}

.bottom-container .image img{
    width: min(40rem, 100%);
}

@media(max-width:768px){
    .header{
        width: 100%;
    }
    .heading{
        width: 100%;
        padding: 0px 20px;
        margin-bottom: 20px;
    }
    .heading h1{
        font-size: 36px;
    }
    .heading p{
        font-size: 17px;
        margin-bottom: 20px;
    } 
    .container{
        padding: 20px;
        width: 100%;
        background-color: #fff;
    }
    .about{
    
        flex-direction: column;
    }
    
    .about-image img{
        width: min(40rem, 100%);
    }
    
    .about-content p{
        padding: px;
        font-size: 16px;
        margin-bottom: 20px;
        
    }
    .about-content .read-more{
        font-size: 16px;
    }
    .scrollmenu{
        display: inline-block;
        height: 40px ;
        font-size: 20px;
        padding: 0;    
   }
   .navbar{
    display: none;
}

.toggle_btn{
display: block;


}

.dropdown_menu{
display: block;
left: 2rem;
width: unset;

}  


}
@media (min-width:1180px){
   .content{
    margin: 50px;
   }
}
footer{
    background: rgb(246, 236, 197);
    overflow: hidden;
    color: black;
    display: flex;
    flex-direction: column;
    
    
}
/*footer default style*/
footer a{
    text-decoration: none;
    color: black;
    
}

footer h2{
    
   color: black;
    margin-bottom: 2rem;
    cursor: pointer;    
}
footer p{
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    color: black;
}

/*footer content*/
.footer_content{
    padding: 2rem;
}
.footer_content .footer_container{
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.footer_content .links ul li a{
    text-decoration: none;
    list-style-type: none;
}
/*contact*/

.footer_content h1{
    margin-bottom: 20px;
    
}
   
.footer_content .logo:first-letter{
    
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.footer_content .contact .icon{
    font-size: 24px;
    margin-right: 5px;
}
.footer_content .social_media_links{
    margin-top: 2rem;
}
.footer_content .social_media_links .icon{
    font-size: 24px;
    color: black;
    margin-right: 1rem;
    background-color: #fff;
    margin-bottom: 2rem;
    justify-items: right;
}
/*info*/
 .footer_content .info{
    margin-left: 3rem;
    color: #04AA6D;
}



.newsletter h3{
    margin-bottom: 20px;
}
.footer_content .newsletter input{
    border: 1px solid #000;
    padding: 8px 15px;
    display: block;
    width: 100%;
    font-size: 14px;
    box-sizing: border-box;
    color: #807f7f;
}
.footer_content .newsletter input[type=text],select{
    background-color: white;
    border: 1px #000;
    padding: 2 8px;
    color: black;
    min-height: 40px;
}
.footer_content .newsletter input[type=submit] {
    background-color: rgb(26, 131, 167);
    width: 100%;
    padding: 0 8px;
    min-height: 35px;
    color:  black;
}
/*footer copyright*/
.footer_copyright{
    width: auto;
    margin-top: 2rem;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media(max-width:991px){
    .footer_content .footer_container{
         grid-template-columns: repeat(2, 1fr);
         
     }
     .footer_content .newsletter{
         margin-top: 3rem;
         grid-column-start: 1;
         grid-column-end: 3;
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;
     }
    }
  
           